.text{
    color: #141C57;
}
.background{
    background-color: #f1effb;
}
.primaryCol{
    background-color: #514bce;
}
.secondaryCol{
    background-color: #ba8fe0;
}
.accentCol{
    background-color: #b46bd6;
}
.nav-background{
    background-color: #e6e2fb;
}

.nav-head{
    color:#141C57;
    font-weight: 700;
}
.page-head{
    background-color: #514bce;
    padding: 30px;
    color:#f1effb;
    margin-top:70px;
    margin-bottom: 30px;
}
.page-head h1{
    font-size: 70px;
    font-weight: 800;
}
.page-head p{
    font-size:40px;
}
.page-text{
    color: #141C57;
}

.homepageUnitText {
    font-size: 80px;
}

.homepageSpacing {
    margin-top: 200px;
    margin-left: 45px;
}

.indent {
    margin-left: 25px;
}
.indentStrong {
    margin-left: 50px;
}

.navGradient{
    background: linear-gradient(to right, #f32170, 
        #ff6b08, #cf23cf, #eedd44); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
}
.gradient{
    background: linear-gradient(to right, #016b38, 
        #000000); 
}
.gradient2{
    background: linear-gradient(to right, #0cdcbd, #f6a746);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}