.text{
    color: #141C57;
}
.background{
    background-color: #f1effb;
}
.primaryCol{
    background-color: #514bce;
}
.secondaryCol{
    background-color: #ba8fe0;
}
.accentCol{
    background-color: #b46bd6;
}
