.text{
    color: #a8b0eb;
}
.background{
    background-color: #060410;
}
.primaryCol{
    background-color: #3831b4;
}
.secondaryCol{
    background-color: #4a1f70;
}
.accentCol{
    background-color: #722994;
}
.nav-background{
    background-color: #100b2a;
}

.nav-head{
    color:#d5fffc;
    font-weight: 700;
}
.page-head{
    background-color: #3831b4;
    padding: 30px;
    color:#f1effb;
    margin-top:90px;
    margin-bottom: 30px;
}
.page-head h1{
    font-size: 70px;
    font-weight: 800;
}
.page-head p{
    font-size:40px;
}
.page-text{
    color: #a8b0eb;
}

.homepageUnitText {
    font-size: 80px;
}

.homepageSpacing {
    margin-top: 100px;
}

.indent {
    margin-left: 25px;
}
.indentStrong {
    margin-left: 50px;
}
.unit1{
    background-color: #310047;
}
.unit1 a{
    background-color: #3d0072;
}
.u1{
    background-color: #3d0072;
}
.unit2{
    background-color: #c50070;
}
.unit2 a{
    background-color: #de007e
}
.u2{
    background-color: #de007e;

}
.unit3{
    background-color: #047500;
}
.unit3 a{
    background-color: #059900;
}
.u3{
    background-color: #059900;
}
.unit4{
    background-color: #013170;
}
.unit4 a{
    background-color: #00488a;
}
.u4{
    background-color: #00488a;
}
.body-text p{
    margin-bottom: 60px;
    font-size:20px;
}
.body-text hr{
    margin-bottom: 60px;
}
.body-text h3{
    margin-bottom: 15px
}
.dropdown-menu{ 
    background-color: #1b1249;
}
.dropdown-item{
    color: #e1e4f8;
}
hr.dropdown-divider{
    border-top: 1px solid #a8b0eb;
}
    