.text{
    color: #141C57;
}
.background{
    background-color: #f1effb;
}
.primaryCol{
    background-color: #514bce;
}
.secondaryCol{
    background-color: #ba8fe0;
}
.accentCol{
    background-color: #b46bd6;
}
.nav-background{
    background-color: #e6e2fb;
}

.nav-head{
    color:#141C57;
    font-weight: 700;
}
.page-head{
    background-color: #514bce;
    padding: 30px;
    color:#f1effb;
    margin-top:90px;
    margin-bottom: 30px;
}
.page-head h1{
    font-size: 70px;
    font-weight: 800;
}
.page-head p{
    font-size:40px;
}
.page-text{
    color: #141C57;
}

.homepageUnitText {
    font-size: 80px;
}

.homepageSpacing {
    margin-top: 100px;
}

.indent {
    margin-left: 25px;
}
.indentStrong {
    margin-left: 50px;
}

.navGradient{
    background: linear-gradient(to right, #f32170, 
        #ff6b08, #cf23cf, #eedd44); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
}
.gradient{
    background: linear-gradient(to right, #016b38, 
        #000000); 
}
.gradient2{
    background: linear-gradient(to right, #0cdcbd, #f6a746);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.unit1{
    background-color: #ba8fe0;
}
.unit1 a{
    background-color: #b46bd6;
}
.u1{
    background-color: #b46bd6;
}
.unit2{
    background-color: #e77fa7;
}
.unit2 a{
    background-color: #f75e99;
}
.u2{
    background-color: #f75e99;

}
.unit3{
    background-color: #a8f4a5;
}
.unit3 a{
    background-color: #7ce078;
}
.u3{
    background-color: #7ce078;
}
.unit4{
    background-color: #a3cbff;
}
.unit4 a{
    background-color: #73bbff;
}
.u4{
    background-color: #73bbff;
}

.body-text p{
    margin-bottom: 60px;
}
.body-text hr{
    margin-bottom: 60px;
}